<main>
<div class="galeria">
<h1>PARKING APP</h1>
<a class="botonregistro" href="#">Registrarse</a>

<form>
    <div class="sesionButtons">
<input class="botonlogin" [(ngModel)]="datosLogin.username" name="usuario" placeholder="Usuario...">
<input class="botonpassword" [(ngModel)]="datosLogin.password" name="password" placeholder="Contraseña...">
    </div>
<p><a class="recuperarcontra" href="">Olvidé mi Contraseña</a></p>
<button type="button" class="iniciarsesion" (click)="Login()">Iniciar sesión</button>
</form>
</div>


</main> 

